<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
{% include "navigation.html" %}
<div class="container text-center">
    <h1 class="text-primary mb-4">Data Upload</h1>
{#enctype="multipart/form-data"#}
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <input class="form-control" type="file" accept=".csv"  name="files" multiple>
        </div>

        <div class="input-group" >
            <span class="input-group-text"> Separator: </span>
{#            <input type="text" name="sep">#}
            <input type="text"  class="form-control" name="sep" placeholder="leave blank if it is a ' , '" >
        </div>
        <br>
      <button type="submit" class="btn btn-success btn-lg">Upload Files</button>
    </form>
  </div>

{% include "footer.html" %}
</body>
</html>
{#accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"#}

