<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
       <h1>Data Upload</h1>
    <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="files" id="file-input"
             accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
             multiple>
      <button type="submit" class="upload-btn">Upload Files</button>
    </form>
  </div>
</body>
</html>