<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "navigation.html" %}
<div class="container ">
    <h1 class="text-center text-success">Data Matching</h1>
    <p class="text-center">These columns are going to get merged</p>
    {% for columns in titles %}
        {% set keys, col = columns.items() %}

    <table class="table table-dark table-hover">
        <thead>
        <th>
            {{ keys[0] }}
        </th>
        <th>
                ------------->
        </th>
        <th>
                {{ col[0] }}

        </th>
        </thead>
        <tbody>
{#        list of dictioneries #}
        <tr>
            <td>
            {{ keys[1] }}

            </td>
{#            #}
{#            <td>#}
{#                {{ columns[0] }}#}
{#            </td>#}
            <td>
                ------------->
            </td>
            <td>
                {{ col[1] }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="d-grid gap-2">
    <button type="submit" class="btn btn-block btn-success ">Start Merging</button>
</div>
</div>
</body>
</html>